
snippet importreact "import React module"
import React from 'react'
endsnippet

snippet importcssmodule "import module css file"
import styles from './style.module.css'
endsnippet

snippet importcss "import css file"
import './style.css'
endsnippet

snippet importantd "import antd module"
import {$1} from 'antd'
endsnippet
	
